body,
.btn,
.form-control,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cairo", sans-serif;
}

#preview-data thead th {
    font-family: "Cairo", sans-serif;
    text-transform: uppercase;
}

body > div {
    max-width: 2500px;
}

input[type="number"] {
    font-family: "Courier New", Courier, monospace;
}

/* for debbuging */
* {
    /* outline: 1px solid #e123483e; */
}
